body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.horizontal-nav {
  overflow: auto;
  white-space: nowrap;
  background-color: #5511ee;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.horizontal-nav-item {
  display: inline-block;
  background-color: #5511ee;
  color:white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.horizontal-nav-item a{
  color: #ffffff;
}
.horizontal-nav-item a:hover{
  color: #000000;
}